* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.navbar {
  background-color: #ffc926;
  color: #444128;
  font-size: 14px;
  font-weight: 500;
  padding-top: 15px;
  padding-bottom: 15px;
}
.nav-1 li {
  padding-right: 18px;
}
#navbar-2 li {
  padding-right: 18px;
}
#navbar-3 li a {
  padding-right: 18px;
  color: #646263;
}
.navbar i {
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
#navbar-2 {
  background-color: #ffffff;
}
#navbar-3 {
  background-color: #fafafa;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.banner {
  padding-top: 5rem;
  padding-bottom: 3rem;
}
.one h2 {
  font-size: 55px;
  font-weight: bold;
}
.one span {
  font-size: 40px;
  font-weight: bold;
}
.one {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 8rem;
}
.section-1 {
  background-color: #ffc926;
  color: #ffffff;
}
.section-2 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.card-img {
  width: 350px;
  height: 300px;
}
.card {
  outline: none;
  border: none;
}
#overlay-content {
  position: relative;
}
.overlay {
  position: absolute;
  top: 72.2%;
  left: 7%;
}
